[Unit]
Description=My monitoring Docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a my-app
ExecStop=/usr/bin/docker stop -t 10 my-app

[Install]
WantedBy=multi-user.target
